<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeMart - Items Showcase</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
    <h1>PokeMart</h1>
    <img src="/images/logo.png" alt="pokemart logo">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pokemons">Pokemons</a></li>
            <li><a href="/inventory">Inventory</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="product-container">
        <div class="product" th:each="item : ${items}">
            <img class="item-image" th:src="@{'/images/items/' + ${item.name.toLowerCase()} + '.jpg'}" alt="Item Image">
            <div class="product-info">
                <h3 th:text="${item.name}"></h3>
                <p th:text="'$' + ${item.price}"></p>
            </div>
        </div>
    </div>
</main>
</body>
</html>
