<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <title>Login to PokeMart</title>
</head>
<body>

<header>
    <h1>PokeMart</h1>
    <img src="/images/logo.png" alt="pokemart logo">
</header>

<section class="login-form">
    <h2>User Login</h2>

    <form th:action="@{/login}" method="post" class="login-form">
        <label>Username: <input type="text" name="username" /></label><br/>
        <label>Password: <input type="password" name="password" /></label><br/>
        <input type="submit" value="Login"/>
    </form>
</section>

</body>
</html>
